# Python
__pycache__/
*.py[cod]

# Entornos virtuales
venv/
.venv/
env/

# Editores
.idea/
.vscode/

# Flet: compilaciones (flet build apk / ipa / web)
build/
storage/

# Variables de entorno y secretos
.env

# Sistema operativo
Thumbs.db
.DS_Store
